html,
body {
  width: 300px;
}

.hidden {
  display: none;
}

#bedtime-setter {
  border-color: yellow;
  border-width: 5px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.btn-bedtime:hover {
  background-color: #CFF2F2;
}

.btn-bedtime {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}